<h1><%= t(".title") %></h1>

<%= form_with model: @profile, url: profile_path, class: "stack" do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </div>

  <div>
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>

  <%= form.submit %>
<% end %>
