<article id="<%= dom_id entry %>" class="stack | stack-small">
  <header>
    <small><%= entry.account.profile.name %></small>
  </header>

  <%= render entry.entryable %>

  <footer class="cluster | cluster-space">
    <div>
      <small><%= link_to entry.created_at.to_s(:long), entry %></small>

      <div class="cluster">
        <div>
          <% if policy(entry).update? %>
            <small><%= link_to t(".edit_link"), url_for([:edit, entry.entryable]) %></small>
          <% end %>
          <% if policy(entry).destroy? %>
            <small><%= button_to t(".delete_button"), entry_path(entry), method: :delete %></small>
          <% end %>
        </div>
      </div>
    </div>
  </footer>
</article>
