<!DOCTYPE html>
<html>
  <head>
    <title>Edition</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="sans-serif">
    <header class="centre cluster | cluster-space | mw-7 p-4">
      <div>
        <%= link_to t("application.name"), root_path %>

        <div class="cluster">
          <div>
            <% if Current.account.present? %>
              <span><%= Current.account.profile.name || Current.account.email %></span>
            <% else %>
              <%= link_to t(".new_session_link"), new_session_path %>
              <%= link_to t(".new_account_link"), new_account_path %>
            <% end %>
          </div>
        </div>
      </div>
    </header>

    <main class="centre stack | mw-7 p-4">
      <%= yield %>
    </main>
  </body>
</html>
