<h1><%= t(".title") %></h1>

<%= form_with model: @account, url: account_path, class: "stack" do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <%= form.submit %>
<% end %>
